In [22]:
import pandas as pd
import numpy as np

In [23]:
train = pd.read_csv('../train.csv')
train.head()

        ID State.Name  Year    Age    Incidence
0  f8312a4    Alabama  1990  65-69  4685.284313
1  3effa36    Alabama  1990  70-74  4827.052043
2  1e8044b    Alabama  1990  75-79  4377.956914
3  d875d65    Alabama  1990  80-84  3822.732993
4  46e6695    Alabama  1990  85-89  3470.199503

In [24]:
test = pd.read_csv('../test.csv')
test.head()

        ID State.Name  Year    Age
0  6c06615   Delaware  1990  65-69
1  e0cf76e   Delaware  1990  70-74
2  e9f95f0   Delaware  1990  75-79
3  5dffe44   Delaware  1990  80-84
4  9f9ea9b   Delaware  1990  85-89

In [25]:
train.isnull().sum()

ID            0
State.Name    0
Year          0
Age           0
Incidence     0
dtype: int64

In [26]:
train['Age'].value_counts()

65-69    750
70-74    750
75-79    750
80-84    750
85-89    750
90-94    750
Name: Age, dtype: int64

In [27]:
test['Age'].value_counts()

65-69    780
70-74    780
75-79    780
80-84    780
85-89    780
90-94    780
Name: Age, dtype: int64

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          4500 non-null   object
 1   State.Name  4500 non-null   object
 2   Year        4500 non-null   int64
 3   Age         4500 non-null   object
 4   Incidence   4500 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 175.9+ KB

In [29]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4680 entries, 0 to 4679
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          4680 non-null   object
 1   State.Name  4680 non-null   object
 2   Year        4680 non-null   int64
 3   Age         4680 non-null   object
dtypes: int64(1), object(3)
memory usage: 146.4+ KB

In [30]:
train['State.Name'].value_counts()

Alabama                 180
Iowa                    180
Texas                   180
Tennessee               180
Oregon                  180
Oklahoma                180
Ohio                    180
North Dakota            180
North Carolina          180
Montana                 180
Mississippi             180
Michigan                180
Indiana                 180
Alaska                  180
Idaho                   180
Hawaii                  180
Georgia                 180
Florida                 180
District of Columbia    180
Connecticut             180
Colorado                180
California              180
Arkansas                180
Arizona                 180
Washington              180
Name: State.Name, dtype: int64

In [31]:
test['State.Name'].value_counts()

Delaware          180
Illinois          180
Wisconsin         180
West Virginia     180
Virginia          180
Vermont           180
Utah              180
South Dakota      180
South Carolina    180
Rhode Island      180
Pennsylvania      180
New York          180
New Mexico        180
New Jersey        180
New Hampshire     180
Nevada            180
Nebraska          180
Missouri          180
Minnesota         180
Massachusetts     180
Maryland          180
Maine             180
Louisiana         180
Kentucky          180
Kansas            180
Wyoming           180
Name: State.Name, dtype: int64

### Read the supplementary_HAPS.perquet

In [32]:
haps = pd.read_parquet('../supplementary_HAPS.parquet', engine='pyarrow')

In [33]:
haps.head()

  State.Name  Date.Local     Parameter.Name  Arithmetic.Mean  X1st.Max.Value
0    Alabama  1980-01-04  Arsenic (TSP) STP              0.0             0.0
1    Alabama  1980-01-16  Arsenic (TSP) STP              0.0             0.0
2    Alabama  1980-01-28  Arsenic (TSP) STP              0.0             0.0
3    Alabama  1980-02-09  Arsenic (TSP) STP              0.0             0.0
4    Alabama  1980-02-21  Arsenic (TSP) STP              0.0             0.0

In [34]:
haps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9834368 entries, 0 to 9834367
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   State.Name       object
 1   Date.Local       object
 2   Parameter.Name   object
 3   Arithmetic.Mean  float64
 4   X1st.Max.Value   float64
dtypes: float64(2), object(3)
memory usage: 375.2+ MB

In [35]:
haps['Year'] = pd.DatetimeIndex(haps['Date.Local']).year #get the year only

In [36]:
haps.head()

,State.Name,Date.Local,Parameter.Name,Arithmetic.Mean,X1st.Max.Value,Year
0,Alabama,1980-01-04,Arsenic (TSP) STP,0.0,0.0,1980
1,Alabama,1980-01-16,Arsenic (TSP) STP,0.0,0.0,1980
2,Alabama,1980-01-28,Arsenic (TSP) STP,0.0,0.0,1980
3,Alabama,1980-02-09,Arsenic (TSP) STP,0.0,0.0,1980
4,Alabama,1980-02-21,Arsenic (TSP) STP,0.0,0.0,1980

In [37]:
haps = haps[haps['Year']>=1990]
haps.head()

,State.Name,Date.Local,Parameter.Name,Arithmetic.Mean,X1st.Max.Value,Year
537000,Alabama,1990-01-01,Beryllium (TSP) STP,0.000,0.000,1990
537001,Alabama,1990-04-01,Beryllium (TSP) STP,0.000,0.000,1990
537002,Alabama,1990-07-01,Beryllium (TSP) STP,0.000,0.000,1990
537003,Alabama,1990-10-01,Beryllium (TSP) STP,0.000,0.000,1990
537004,Alabama,1990-01-01,Cadmium (TSP) STP,0.001,0.001,1990

In [38]:
# checking the data before aggregate

In [39]:
al_ch = haps[(haps['Year']==1990) & (haps['State.Name']=='Alabama') & (haps['Parameter.Name']=='Chromium (TSP) STP')]

In [40]:
al_ch['Parameter.Name'].count()

18

In [41]:
al_ch['Arithmetic.Mean'].mean()

0.00488888888888889

In [42]:
# Create a dataFrame that take the Year, State Name and Parameter with the average of Arithetic.Mean
haps = haps.groupby(['Year','State.Name','Parameter.Name'], as_index=False).agg({'Arithmetic.Mean':'mean'})
haps.head()

   Year State.Name       Parameter.Name  Arithmetic.Mean
0  1990    Alabama  Beryllium (TSP) STP         0.000000
1  1990    Alabama    Cadmium (TSP) STP         0.000783
2  1990    Alabama   Chromium (TSP) STP         0.004889
3  1990    Alabama  Manganese (TSP) STP         0.057383
4  1990    Alabama     Nickel (TSP) STP         0.002350

In [43]:
# Transform the dataframe above to a pivot table 
haps_trans = haps.pivot(index = ['State.Name', 'Year'], columns='Parameter.Name')
haps_trans.head()

                          Arithmetic.Mean                                    \
Parameter.Name  1,1,2,2-Tetrachloroethane 1,2-Dichloropropane 1,3-Butadiene
State.Name Year
Alabama    1990                       NaN                 NaN           NaN
           1992                       NaN            0.187778      0.000000
           1993                       NaN            0.000000      1.406233
           1994                       NaN                 NaN      0.426389
           1995                       0.0            0.000000      0.604924

                                                                        \
Parameter.Name  Acetaldehyde Acrolein - Unverified Acrolein - Verified
State.Name Year
Alabama    1990          NaN                   NaN                 NaN
           1992          NaN                   NaN                 NaN
           1993          NaN                   NaN                 NaN
           1994          NaN                   NaN                 NaN
           1995          NaN                   NaN                 NaN

                                                                     \
Parameter.Name  Arsenic (TSP) STP Arsenic PM10 STP Arsenic PM2.5 LC
State.Name Year
Alabama    1990               NaN              NaN              NaN
           1992               NaN              NaN         0.000361
           1993               NaN              NaN         0.000405
           1994               NaN              NaN         0.000665
           1995               NaN              NaN         0.000345

                            ...                                      \
Parameter.Name     Benzene  ... Manganese PM2.5 LC Mercury PM10 STP
State.Name Year             ...
Alabama    1990        NaN  ...                NaN              NaN
           1992   3.737778  ...           0.001574              NaN
           1993  13.894583  ...           0.001511              NaN
           1994   5.888194  ...           0.002135              NaN
           1995   4.750455  ...           0.001617              NaN

                                                                  \
Parameter.Name  Nickel (TSP) STP Nickel PM10 STP Nickel PM2.5 LC
State.Name Year
Alabama    1990          0.00235             NaN             NaN
           1992              NaN             NaN        0.000085
           1993              NaN             NaN        0.000144
           1994              NaN             NaN        0.000136
           1995              NaN             NaN        0.000082

                                                                      \
Parameter.Name  Tetrachloroethylene Trichloroethylene Vinyl chloride
State.Name Year
Alabama    1990                 NaN               NaN            NaN
           1992            0.200000          0.097037            0.0
           1993            0.457778          0.000000            0.0
           1994                 NaN               NaN            NaN
           1995            0.258571          0.015000            0.0


Parameter.Name  cis-1,3-Dichloropropene trans-1,3-Dichloropropene
State.Name Year
Alabama    1990                     NaN                       NaN
           1992                     0.0                       0.0
           1993                     0.0                       0.0
           1994                     NaN                       NaN
           1995                     0.0                       0.0

[5 rows x 41 columns]

In [44]:
haps_trans.reset_index(inplace=True)
haps_trans.head()

               State.Name  Year           Arithmetic.Mean                      \
Parameter.Name                  1,1,2,2-Tetrachloroethane 1,2-Dichloropropane
0                 Alabama  1990                       NaN                 NaN
1                 Alabama  1992                       NaN            0.187778
2                 Alabama  1993                       NaN            0.000000
3                 Alabama  1994                       NaN                 NaN
4                 Alabama  1995                       0.0            0.000000

                                                                 \
Parameter.Name 1,3-Butadiene Acetaldehyde Acrolein - Unverified
0                        NaN          NaN                   NaN
1                   0.000000          NaN                   NaN
2                   1.406233          NaN                   NaN
3                   0.426389          NaN                   NaN
4                   0.604924          NaN                   NaN

                                                                       ...  \
Parameter.Name Acrolein - Verified Arsenic (TSP) STP Arsenic PM10 STP  ...
0                              NaN               NaN              NaN  ...
1                              NaN               NaN              NaN  ...
2                              NaN               NaN              NaN  ...
3                              NaN               NaN              NaN  ...
4                              NaN               NaN              NaN  ...

                                                                     \
Parameter.Name Manganese PM2.5 LC Mercury PM10 STP Nickel (TSP) STP
0                             NaN              NaN          0.00235
1                        0.001574              NaN              NaN
2                        0.001511              NaN              NaN
3                        0.002135              NaN              NaN
4                        0.001617              NaN              NaN

                                                                    \
Parameter.Name Nickel PM10 STP Nickel PM2.5 LC Tetrachloroethylene
0                          NaN             NaN                 NaN
1                          NaN        0.000085            0.200000
2                          NaN        0.000144            0.457778
3                          NaN        0.000136                 NaN
4                          NaN        0.000082            0.258571

                                                                         \
Parameter.Name Trichloroethylene Vinyl chloride cis-1,3-Dichloropropene
0                            NaN            NaN                     NaN
1                       0.097037            0.0                     0.0
2                       0.000000            0.0                     0.0
3                            NaN            NaN                     NaN
4                       0.015000            0.0                     0.0


Parameter.Name trans-1,3-Dichloropropene
0                                    NaN
1                                    0.0
2                                    0.0
3                                    NaN
4                                    0.0

[5 rows x 43 columns]

In [45]:
haps_trans.shape

(1448, 43)

In [46]:
#merge the haps data with train data
haps_train = train.merge(haps_trans, how = 'left', on = ['State.Name','Year'])
haps_train.head()

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/3970444084.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  haps_train = train.merge(haps_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/3970444084.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  haps_train = train.merge(haps_trans, how = 'left', on = ['State.Name','Year'])

,ID,State.Name,Year,Age,Incidence,"(Arithmetic.Mean, 1,1,2,2-Tetrachloroethane)","(Arithmetic.Mean, 1,2-Dichloropropane)","(Arithmetic.Mean, 1,3-Butadiene)","(Arithmetic.Mean, Acetaldehyde)","(Arithmetic.Mean, Acrolein - Unverified)",...,"(Arithmetic.Mean, Manganese PM2.5 LC)","(Arithmetic.Mean, Mercury PM10 STP)","(Arithmetic.Mean, Nickel (TSP) STP)","(Arithmetic.Mean, Nickel PM10 STP)","(Arithmetic.Mean, Nickel PM2.5 LC)","(Arithmetic.Mean, Tetrachloroethylene)","(Arithmetic.Mean, Trichloroethylene)","(Arithmetic.Mean, Vinyl chloride)","(Arithmetic.Mean, cis-1,3-Dichloropropene)","(Arithmetic.Mean, trans-1,3-Dichloropropene)"
0,f8312a4,Alabama,1990,65-69,4685.284313,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3effa36,Alabama,1990,70-74,4827.052043,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1e8044b,Alabama,1990,75-79,4377.956914,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d875d65,Alabama,1990,80-84,3822.732993,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46e6695,Alabama,1990,85-89,3470.199503,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00235,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#merge the haps data with test data
haps_test = test.merge(haps_trans, how = 'left', on = ['State.Name','Year'])
haps_test.head()

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/4031910962.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  haps_test = test.merge(haps_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/4031910962.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  haps_test = test.merge(haps_trans, how = 'left', on = ['State.Name','Year'])

,ID,State.Name,Year,Age,"(Arithmetic.Mean, 1,1,2,2-Tetrachloroethane)","(Arithmetic.Mean, 1,2-Dichloropropane)","(Arithmetic.Mean, 1,3-Butadiene)","(Arithmetic.Mean, Acetaldehyde)","(Arithmetic.Mean, Acrolein - Unverified)","(Arithmetic.Mean, Acrolein - Verified)",...,"(Arithmetic.Mean, Manganese PM2.5 LC)","(Arithmetic.Mean, Mercury PM10 STP)","(Arithmetic.Mean, Nickel (TSP) STP)","(Arithmetic.Mean, Nickel PM10 STP)","(Arithmetic.Mean, Nickel PM2.5 LC)","(Arithmetic.Mean, Tetrachloroethylene)","(Arithmetic.Mean, Trichloroethylene)","(Arithmetic.Mean, Vinyl chloride)","(Arithmetic.Mean, cis-1,3-Dichloropropene)","(Arithmetic.Mean, trans-1,3-Dichloropropene)"
0,6c06615,Delaware,1990,65-69,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e0cf76e,Delaware,1990,70-74,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,e9f95f0,Delaware,1990,75-79,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5dffe44,Delaware,1990,80-84,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9f9ea9b,Delaware,1990,85-89,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Read the supplementary_LEAD.perquet

In [48]:
lead = pd.read_parquet('../supplementary_LEAD.parquet', engine='pyarrow')
lead.head()

  State.Name  Date.Local  Parameter.Name  Arithmetic.Mean  X1st.Max.Value
0    Alabama  1980-01-04  Lead (TSP) STP             0.04            0.04
1    Alabama  1980-01-16  Lead (TSP) STP             0.26            0.26
2    Alabama  1980-01-28  Lead (TSP) STP             0.13            0.13
3    Alabama  1980-02-09  Lead (TSP) STP             0.11            0.11
4    Alabama  1980-02-21  Lead (TSP) STP             0.10            0.10

In [49]:
lead.shape

(866835, 5)

In [50]:
lead['Year'] = pd.DatetimeIndex(lead['Date.Local']).year

In [51]:
lead = lead[lead['Year']>=1990]

In [52]:
lead = lead.groupby(['Year','State.Name','Parameter.Name'], as_index=False).agg({'Arithmetic.Mean':'mean'})

In [53]:
lead_trans = lead.pivot(index = ['State.Name', 'Year'], columns='Parameter.Name')
lead_trans.reset_index(inplace=True)

In [54]:
#merge the lead data with haps_train data
lead_haps = haps_train.merge(lead_trans, how = 'left', on = ['State.Name','Year'])

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/1830002993.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  lead_haps = haps_train.merge(lead_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/1830002993.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  lead_haps = haps_train.merge(lead_trans, how = 'left', on = ['State.Name','Year'])

In [55]:
lead_haps.shape

(4500, 49)

In [56]:
lead_haps.head()

,ID,State.Name,Year,Age,Incidence,"(Arithmetic.Mean, 1,1,2,2-Tetrachloroethane)","(Arithmetic.Mean, 1,2-Dichloropropane)","(Arithmetic.Mean, 1,3-Butadiene)","(Arithmetic.Mean, Acetaldehyde)","(Arithmetic.Mean, Acrolein - Unverified)",...,"(Arithmetic.Mean, Nickel PM10 STP)","(Arithmetic.Mean, Nickel PM2.5 LC)","(Arithmetic.Mean, Tetrachloroethylene)","(Arithmetic.Mean, Trichloroethylene)","(Arithmetic.Mean, Vinyl chloride)","(Arithmetic.Mean, cis-1,3-Dichloropropene)","(Arithmetic.Mean, trans-1,3-Dichloropropene)","(Arithmetic.Mean, Lead (TSP) LC)","(Arithmetic.Mean, Lead (TSP) STP)","(Arithmetic.Mean, Lead PM10 LC FRM/FEM)"
0,f8312a4,Alabama,1990,65-69,4685.284313,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.663244,NaN
1,3effa36,Alabama,1990,70-74,4827.052043,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.663244,NaN
2,1e8044b,Alabama,1990,75-79,4377.956914,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.663244,NaN
3,d875d65,Alabama,1990,80-84,3822.732993,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.663244,NaN
4,46e6695,Alabama,1990,85-89,3470.199503,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.663244,NaN

In [57]:
#merge the lead data with haps_test data
lead_haps_test = haps_test.merge(lead_trans, how = 'left', on = ['State.Name','Year'])

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/4100739832.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  lead_haps_test = haps_test.merge(lead_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/4100739832.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  lead_haps_test = haps_test.merge(lead_trans, how = 'left', on = ['State.Name','Year'])

### Read the supplementary_NONOxNOy.perquet

In [58]:
no = pd.read_parquet('../supplementary_NONOxNOy.parquet', engine='pyarrow')

In [59]:
no.head()

  State.Name  Date.Local     Parameter.Name  Arithmetic.Mean  X1st.Max.Value
0    Alabama  1980-01-01  Nitric oxide (NO)        54.458333           275.0
1    Alabama  1980-01-02  Nitric oxide (NO)       130.545455           279.0
2    Alabama  1980-01-03  Nitric oxide (NO)       122.333333           421.0
3    Alabama  1980-01-04  Nitric oxide (NO)         5.600000            12.0
4    Alabama  1980-01-05  Nitric oxide (NO)         6.166667            13.0

In [60]:
no['Year'] = pd.DatetimeIndex(no['Date.Local']).year
no = no[no['Year']>=1990]

In [61]:
no = no.groupby(['Year','State.Name','Parameter.Name'], as_index=False).agg({'Arithmetic.Mean':'mean'})

In [62]:
no_trans = no.pivot(index = ['State.Name', 'Year'], columns='Parameter.Name')
no_trans.reset_index(inplace=True)

In [63]:
#merge the NONOxNOy data with lead_haps data
lead_haps_no = lead_haps.merge(no_trans, how = 'left', on = ['State.Name','Year'])

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2543615548.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  lead_haps_no = lead_haps.merge(no_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2543615548.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  lead_haps_no = lead_haps.merge(no_trans, how = 'left', on = ['State.Name','Year'])

In [64]:
lead_haps_no.shape

(4500, 52)

In [65]:
#merge the NONOxNOy data with lead_haps_test data
lead_haps_no_test = lead_haps_test.merge(no_trans, how = 'left', on = ['State.Name','Year'])

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2990907272.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  lead_haps_no_test = lead_haps_test.merge(no_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2990907272.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  lead_haps_no_test = lead_haps_test.merge(no_trans, how = 'left', on = ['State.Name','Year'])

In [66]:
lead_haps_no_test.shape

(4680, 51)

### Read the supplementary_VOCS.perquet

In [68]:
vocs = pd.read_parquet('../supplementary_VOCS.parquet', engine='pyarrow')

In [69]:
vocs.head()

,State.Name,Date.Local,Parameter.Name,Arithmetic.Mean,X1st.Max.Value
0,Alabama,1980-01-01,Total NMOC (non-methane organic compound),627.083333,2020.0
1,Alabama,1980-01-02,Total NMOC (non-methane organic compound),1240.909091,3360.0
2,Alabama,1980-01-03,Total NMOC (non-methane organic compound),2079.166667,5670.0
3,Alabama,1980-01-04,Total NMOC (non-methane organic compound),925.833333,3110.0
4,Alabama,1980-01-05,Total NMOC (non-methane organic compound),170.833333,1250.0

In [70]:
vocs.shape

(26601135, 5)

In [71]:
vocs['Year'] = pd.DatetimeIndex(vocs['Date.Local']).year
vocs = vocs[vocs['Year']>=1990]

In [72]:
vocs = vocs.groupby(['Year','State.Name','Parameter.Name'], as_index=False).agg({'Arithmetic.Mean':'mean'})

In [73]:
vocs_trans = vocs.pivot(index = ['State.Name', 'Year'], columns='Parameter.Name')
vocs_trans.reset_index(inplace=True)

In [74]:
#merge the VOCS data with lead_haps_no data
lead_haps_no_vocs = lead_haps_no.merge(vocs_trans, how = 'left', on = ['State.Name','Year'])

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2251201471.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  lead_haps_no_vocs = lead_haps_no.merge(vocs_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2251201471.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  lead_haps_no_vocs = lead_haps_no.merge(vocs_trans, how = 'left', on = ['State.Name','Year'])

In [75]:
lead_haps_no_vocs.shape

(4500, 172)

In [76]:
#merge the VOCS data with lead_haps_no_test data
lead_haps_no_vocs_test = lead_haps_no_test.merge(vocs_trans, how = 'left', on = ['State.Name','Year'])

/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2424817801.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  lead_haps_no_vocs_test = lead_haps_no_test.merge(vocs_trans, how = 'left', on = ['State.Name','Year'])
/var/folders/mh/_rcy82jn02986q7q47fnf2mc0000gn/T/ipykernel_1116/2424817801.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  lead_haps_no_vocs_test = lead_haps_no_test.merge(vocs_trans, how = 'left', on = ['State.Name','Year'])

In [77]:
lead_haps_no_vocs_test.shape

(4680, 171)

In [89]:
lead_haps_no_vocs.to_csv('../train_with_5_parquet.csv')

In [79]:
lead_haps_no_vocs_test.to_csv('../test_with_5_parquet.csv')