In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import IterativeImputer

In [2]:
train = pd.read_csv('../train_with_5_parquet.csv')
train.head()

,Unnamed: 0,ID,State.Name,Year,Age,Incidence,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x",...,"('Arithmetic.Mean', 'o-Ethyltoluene')","('Arithmetic.Mean', 'o-Xylene')","('Arithmetic.Mean', 'p-Diethylbenzene')","('Arithmetic.Mean', 'p-Ethyltoluene')","('Arithmetic.Mean', 'tert-Butyl ethyl ether')","('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')"
0,0,f8312a4,Alabama,1990,65-69,4685.284313,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3effa36,Alabama,1990,70-74,4827.052043,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1e8044b,Alabama,1990,75-79,4377.956914,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,d875d65,Alabama,1990,80-84,3822.732993,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,46e6695,Alabama,1990,85-89,3470.199503,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
train.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
test = pd.read_csv('../test_with_5_parquet.csv')
test.head()

,Unnamed: 0,ID,State.Name,Year,Age,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x","('Arithmetic.Mean', 'Acrolein - Unverified')_x",...,"('Arithmetic.Mean', 'o-Ethyltoluene')","('Arithmetic.Mean', 'o-Xylene')","('Arithmetic.Mean', 'p-Diethylbenzene')","('Arithmetic.Mean', 'p-Ethyltoluene')","('Arithmetic.Mean', 'tert-Butyl ethyl ether')","('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')"
0,0,6c06615,Delaware,1990,65-69,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,e0cf76e,Delaware,1990,70-74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,e9f95f0,Delaware,1990,75-79,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,5dffe44,Delaware,1990,80-84,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9f9ea9b,Delaware,1990,85-89,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
test.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
train.isnull().sum()

ID                                                      0
State.Name                                              0
Year                                                    0
Age                                                     0
Incidence                                               0
                                                     ...
('Arithmetic.Mean', 'tert-butyl alcohol')            4422
('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')    2826
('Arithmetic.Mean', 'trans-1,3-Dichloropropene')     2262
('Arithmetic.Mean', 'trans-2-Butene')                2970
('Arithmetic.Mean', 'trans-2-Pentene')               2988
Length: 172, dtype: int64

### Frist dataset: fill NA with 0

In [7]:
train = train.fillna(0)
train.head()

,ID,State.Name,Year,Age,Incidence,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x","('Arithmetic.Mean', 'Acrolein - Unverified')_x",...,"('Arithmetic.Mean', 'o-Ethyltoluene')","('Arithmetic.Mean', 'o-Xylene')","('Arithmetic.Mean', 'p-Diethylbenzene')","('Arithmetic.Mean', 'p-Ethyltoluene')","('Arithmetic.Mean', 'tert-Butyl ethyl ether')","('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')"
0,f8312a4,Alabama,1990,65-69,4685.284313,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3effa36,Alabama,1990,70-74,4827.052043,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1e8044b,Alabama,1990,75-79,4377.956914,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,d875d65,Alabama,1990,80-84,3822.732993,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,46e6695,Alabama,1990,85-89,3470.199503,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
test = test.fillna(0)
test.head()

,ID,State.Name,Year,Age,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x","('Arithmetic.Mean', 'Acrolein - Unverified')_x","('Arithmetic.Mean', 'Acrolein - Verified')_x",...,"('Arithmetic.Mean', 'o-Ethyltoluene')","('Arithmetic.Mean', 'o-Xylene')","('Arithmetic.Mean', 'p-Diethylbenzene')","('Arithmetic.Mean', 'p-Ethyltoluene')","('Arithmetic.Mean', 'tert-Butyl ethyl ether')","('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')"
0,6c06615,Delaware,1990,65-69,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,e0cf76e,Delaware,1990,70-74,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,e9f95f0,Delaware,1990,75-79,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5dffe44,Delaware,1990,80-84,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9f9ea9b,Delaware,1990,85-89,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
train_dummy = pd.get_dummies(train, columns=['Age'], drop_first=True)
train_dummy.head()

,ID,State.Name,Year,Incidence,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x","('Arithmetic.Mean', 'Acrolein - Unverified')_x","('Arithmetic.Mean', 'Acrolein - Verified')_x",...,"('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')",Age_70-74,Age_75-79,Age_80-84,Age_85-89,Age_90-94
0,f8312a4,Alabama,1990,4685.284313,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,3effa36,Alabama,1990,4827.052043,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0
2,1e8044b,Alabama,1990,4377.956914,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
3,d875d65,Alabama,1990,3822.732993,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0
4,46e6695,Alabama,1990,3470.199503,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0

In [10]:
test_dummy = pd.get_dummies(test, columns=['Age'], drop_first=True)
test_dummy.head()

,ID,State.Name,Year,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x","('Arithmetic.Mean', 'Acrolein - Unverified')_x","('Arithmetic.Mean', 'Acrolein - Verified')_x","('Arithmetic.Mean', 'Arsenic (TSP) STP')",...,"('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')",Age_70-74,Age_75-79,Age_80-84,Age_85-89,Age_90-94
0,6c06615,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,e0cf76e,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0
2,e9f95f0,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
3,5dffe44,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0
4,9f9ea9b,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0

In [11]:
train_dummy.to_csv('../train_model.csv')

In [12]:
test_dummy.to_csv('../test_model.csv')

### Second dataset: drop columns that have 75% of NA, fill Na with impute

In [6]:
train.dropna(thresh = train.shape[0]*0.75 , axis = 1, inplace = True)

In [7]:
train.shape

(4500, 12)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 12 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   ID                                               4500 non-null   object
 1   State.Name                                       4500 non-null   object
 2   Year                                             4500 non-null   int64
 3   Age                                              4500 non-null   object
 4   Incidence                                        4500 non-null   float64
 5   ('Arithmetic.Mean', 'Arsenic PM2.5 LC')          3960 non-null   float64
 6   ('Arithmetic.Mean', 'Chromium PM2.5 LC')         3960 non-null   float64
 7   ('Arithmetic.Mean', 'Lead PM2.5 LC')             3960 non-null   float64
 8   ('Arithmetic.Mean', 'Manganese PM2.5 LC')        3960 non-null   float64
 9   ('Arithmetic.Mean', 'Nickel PM2.5 LC')           3960 non-null   float64
 10  ('Arithmetic.Mean', 'Nitric oxide (NO)')         3708 non-null   float64
 11  ('Arithmetic.Mean', 'Oxides of nitrogen (NOx)')  3408 non-null   float64
dtypes: float64(8), int64(1), object(3)
memory usage: 422.0+ KB

In [9]:
train_missing = train.drop(columns=['ID', 'State.Name', 'Year', 'Age'], inplace = True)

In [10]:
#sns.heatmap(train.corr(), annot = True, vmax= 1, vmin=-1);

In [13]:
train_missing.reshape(-1,1)

AttributeError: 'NoneType' object has no attribute 'reshape'

In [11]:
it_imp = IterativeImputer(
    estimator=LinearRegression(),
    max_iter=3
)

In [12]:
it_inc_missing = it_imp.fit_transform(train_missing)
it_inc_missing = pd.DataFrame(it_inc_missing, columns=train_missing.columns)

ValueError: Expected 2D array, got scalar array instead:
array=nan.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.