In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
train = pd.read_csv('../train_model.csv')
train.head()

,Unnamed: 0,ID,State.Name,Year,Incidence,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x","('Arithmetic.Mean', 'Acrolein - Unverified')_x",...,"('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')",Age_70-74,Age_75-79,Age_80-84,Age_85-89,Age_90-94
0,0,f8312a4,Alabama,1990,4685.284313,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,1,3effa36,Alabama,1990,4827.052043,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0
2,2,1e8044b,Alabama,1990,4377.956914,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
3,3,d875d65,Alabama,1990,3822.732993,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0
4,4,46e6695,Alabama,1990,3470.199503,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0

In [3]:
train.drop(columns=['Unnamed: 0'], inplace=True)

In [10]:
X = train.drop(columns= ['ID','State.Name','Incidence'])
y = train['Incidence']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [12]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [13]:
lr.score(X_train,y_train), lr.score(X_test, y_test)

(0.8295732274853848, 0.8192239912104367)

In [27]:
test = pd.read_csv('../test_model.csv')
test.drop(columns=['Unnamed: 0'], inplace=True)
test.head()

,ID,State.Name,Year,"('Arithmetic.Mean', '1,1,2,2-Tetrachloroethane')_x","('Arithmetic.Mean', '1,2-Dichloropropane')_x","('Arithmetic.Mean', '1,3-Butadiene')_x","('Arithmetic.Mean', 'Acetaldehyde')_x","('Arithmetic.Mean', 'Acrolein - Unverified')_x","('Arithmetic.Mean', 'Acrolein - Verified')_x","('Arithmetic.Mean', 'Arsenic (TSP) STP')",...,"('Arithmetic.Mean', 'tert-butyl alcohol')","('Arithmetic.Mean', 'trans-1,2-Dichloroethylene')","('Arithmetic.Mean', 'trans-1,3-Dichloropropene')","('Arithmetic.Mean', 'trans-2-Butene')","('Arithmetic.Mean', 'trans-2-Pentene')",Age_70-74,Age_75-79,Age_80-84,Age_85-89,Age_90-94
0,6c06615,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,e0cf76e,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0
2,e9f95f0,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
3,5dffe44,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0
4,9f9ea9b,Delaware,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0

In [28]:
test_predict = test.drop(columns = ['ID','State.Name'])

In [29]:
test_preds = lr.predict(test_predict)

In [41]:
test_preds_lr = pd.DataFrame({
    'ID': test['ID'],
    'Incidence': test_preds,
})

test_preds_lr.head()

        ID    Incidence
0  6c06615  2571.497532
1  e0cf76e  3168.975516
2  e9f95f0  3639.144510
3  5dffe44  3424.118846
4  9f9ea9b  2887.337663

In [38]:
test_preds_lr['Incidence'] = test_preds_lr['Incidence'].astype('str')

In [39]:
test_preds_lr['ID,Incidence'] = test_preds_lr['ID'] + ',' + test_preds_lr['Incidence']

In [40]:
test_preds_lr.set_index('ID')
test_preds_lr

           ID           Incidence                ID,Incidence
0     6c06615   2571.497532466834   6c06615,2571.497532466834
1     e0cf76e  3168.9755164791422  e0cf76e,3168.9755164791422
2     e9f95f0   3639.144509658945   e9f95f0,3639.144509658945
3     5dffe44    3424.11884587197    5dffe44,3424.11884587197
4     9f9ea9b   2887.337662908947   9f9ea9b,2887.337662908947
...       ...                 ...                         ...
4675  c3fd649   6761.647211447009   c3fd649,6761.647211447009
4676  bf45e9c   7231.816204626812   bf45e9c,7231.816204626812
4677  afe032e  7016.7905408398365  afe032e,7016.7905408398365
4678  56bbd9b   6480.009357876814   56bbd9b,6480.009357876814
4679  05abb40   6026.635601058631   05abb40,6026.635601058631

[4680 rows x 3 columns]

In [ ]:
test_preds_lr.drop(columns = ['ID','Incidence'])

In [42]:
test_preds_lr.to_csv('../lr_model.csv', index=False)

In [33]:
test_preds_lr.shape

(4680, 2)