# Import libraries and data

In [20]:
# Import libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

# libraries for imputing
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import IterativeImputer
from sklearn.model_selection import train_test_split, cross_val_score

In [21]:
train = pd.read_csv('train_complete.csv', sep = ',')
train.head()

,ID,State_Name,Year,Age,Incidence,Arithmetic_Mean_mean_Lead_(TSP)_STP,Arithmetic_Mean_min_Lead_(TSP)_STP,Arithmetic_Mean_max_Lead_(TSP)_STP,Arithmetic_Mean_mean_Lead_(TSP)_STP_l2,Arithmetic_Mean_min_Lead_(TSP)_STP_l2,...,X1st_Max_Value_max_Benzene_l8,X1st_Max_Value_max_Ethylbenzene_l2,X1st_Max_Value_max_Ethylbenzene_l5,X1st_Max_Value_max_Ethylbenzene_l8,X1st_Max_Value_max_Toluene_l2,X1st_Max_Value_max_Toluene_l5,X1st_Max_Value_max_Toluene_l8,X1st_Max_Value_max_o-Xylene_l2,X1st_Max_Value_max_o-Xylene_l5,X1st_Max_Value_max_o-Xylene_l8
0,f8312a4,Alabama,1990,65-69,4685.284313,0.664543,0.0,7.96,1.071302,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3effa36,Alabama,1990,70-74,4827.052043,0.664543,0.0,7.96,1.071302,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1e8044b,Alabama,1990,75-79,4377.956914,0.664543,0.0,7.96,1.071302,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d875d65,Alabama,1990,80-84,3822.732993,0.664543,0.0,7.96,1.071302,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46e6695,Alabama,1990,85-89,3470.199503,0.664543,0.0,7.96,1.071302,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
real_test = pd.read_csv('test_complete.csv', sep = ',')
real_test.head()

,ID,State_Name,Year,Age,Arithmetic_Mean_mean_Lead_(TSP)_STP,Arithmetic_Mean_min_Lead_(TSP)_STP,Arithmetic_Mean_max_Lead_(TSP)_STP,Arithmetic_Mean_mean_Lead_(TSP)_STP_l2,Arithmetic_Mean_min_Lead_(TSP)_STP_l2,Arithmetic_Mean_max_Lead_(TSP)_STP_l2,...,X1st_Max_Value_max_Benzene_l8,X1st_Max_Value_max_Ethylbenzene_l2,X1st_Max_Value_max_Ethylbenzene_l5,X1st_Max_Value_max_Ethylbenzene_l8,X1st_Max_Value_max_Toluene_l2,X1st_Max_Value_max_Toluene_l5,X1st_Max_Value_max_Toluene_l8,X1st_Max_Value_max_o-Xylene_l2,X1st_Max_Value_max_o-Xylene_l5,X1st_Max_Value_max_o-Xylene_l8
0,6c06615,Delaware,1990,65-69,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e0cf76e,Delaware,1990,70-74,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,e9f95f0,Delaware,1990,75-79,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5dffe44,Delaware,1990,80-84,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9f9ea9b,Delaware,1990,85-89,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Drop columns with missing values  > 25% (mostly lagged 8 and lagged 5 columns)

In [23]:
train.isnull().mean().sort_values().tail(4)

Arithmetic_Mean_max_o-Xylene_l8     0.633333
Arithmetic_Mean_mean_o-Xylene_l8    0.633333
X1st_Max_Value_mean_o-Xylene_l8     0.633333
X1st_Max_Value_max_o-Xylene_l8      0.633333
dtype: float64

In [24]:
# Eliminate columns with more than 25% missing values
    # We keep more columns because we are interested in checking correlations afterwards
    

train.dropna(thresh = train.shape[0]*.75, axis = 1, inplace = True)
train.isnull().mean().head(10)

ID                                         0.00
State_Name                                 0.00
Year                                       0.00
Age                                        0.00
Incidence                                  0.00
Arithmetic_Mean_mean_Arsenic_PM2.5_LC      0.12
Arithmetic_Mean_mean_Chromium_PM2.5_LC     0.12
Arithmetic_Mean_mean_Lead_PM2.5_LC         0.12
Arithmetic_Mean_mean_Manganese_PM2.5_LC    0.12
Arithmetic_Mean_mean_Nickel_PM2.5_LC       0.12
dtype: float64

In [25]:
train.shape

(4500, 62)

In [26]:
# Now we select the columns to match train & test

columns_keep = train.drop(columns='Incidence').columns
#columns_keep

In [27]:
# Now we eliminate the same columns from test

real_test = real_test[columns_keep].copy()
real_test.shape

(4680, 61)

# Imputing data

In [28]:
# There is no need to drop_first to make KnnImputer

# We don't do dummies of State_Name because the States don't match in the real_test data set
train_dummies = pd.get_dummies(train, columns=['Age'])
real_test_dummies = pd.get_dummies(real_test, columns=['Age'])

In [29]:
# Set X and Y
# don't drop ID, we will need it later

X_complete = train_dummies.drop(columns=['Incidence', 'State_Name'])  
X_real_test_complete = real_test_dummies.drop(columns ='State_Name') 
y = train['Incidence']

In [30]:
# Separate in train and test
    # I call them _complete to mantain the ID and join it to datasets before saving
    # X_train_complete and X_test complete have ID
        # from these datasets I will get ID later
            # I need ID to submit the competition
        

X_train_complete, X_test_complete, y_train, y_test = train_test_split(X_complete,y, random_state= 14, shuffle = False)

In [31]:
# Drop until now ID --> to be able to merge later with standardized and imputed datasets

X_train = X_train_complete.drop(columns='ID')
X_test = X_test_complete.drop(columns='ID')
X_real_test = X_real_test_complete.drop(columns='ID')

In [32]:
# Need to create dummies to scale data
    # Standard scaler does not work with strings
    # we need to scale data with KNN because that method is sensitive to scale of variables
    
ss = StandardScaler()
# Fit & transform in train
X_train_sc = ss.fit_transform(X_train)  

#Only transform in tests
X_test_sc = ss.transform(X_test)
X_real_test_sc = ss.transform(X_real_test)

In [33]:
# Impute missing values

knn_imp = KNNImputer()

# Fit & transform in train
X_train_sc_imp = knn_imp.fit_transform(X_train_sc)

# Only transform in tests
X_test_sc_imp = knn_imp.transform(X_test_sc)
X_real_test_sc_imp = knn_imp.transform(X_real_test_sc)

# Make DataFrames again
X_train_sc_imp_df = pd.DataFrame(X_train_sc_imp, columns=X_train.columns)
X_test_sc_imp_df = pd.DataFrame(X_test_sc_imp, columns=X_test.columns)
X_real_test_sc_imp_df = pd.DataFrame(X_real_test_sc_imp, columns=X_real_test.columns)

Note: we don't unscale databases once missing values have been imputed because for modeling we would've scaled for trying regularization methods

In [34]:
# To double check later 
X_train_sc_imp_df.shape, X_test_sc_imp_df.shape, X_real_test_sc_imp_df.shape

((3375, 64), (1125, 64), (4680, 64))

In [35]:
# To double check later 
y_train.shape, y_test.shape

((3375,), (1125,))

In [36]:
# Copy databases first, in case we need to go back to previous

X_train_save = X_train_sc_imp_df.copy()
X_test_save = X_test_sc_imp_df.copy()
X_real_test_save = X_real_test_sc_imp_df.copy()

# Adding ID again to the databases
    # this works because the processes above didn't shuffle the information
    # so I can add as a column from separated databases

X_train_save['ID'] = X_train_complete['ID']
X_test_save['ID'] = X_test_complete['ID']
X_real_test_save['ID'] = X_real_test_complete['ID']

In [37]:
# Double check that only one column was added and rows stay the same
X_train_save.shape, X_test_save.shape, X_real_test_save.shape

((3375, 65), (1125, 65), (4680, 65))

In [38]:
# Double check length of data
y_train.shape, y_test.shape

((3375,), (1125,))

In [39]:
# Save datasets for modeling notebooks

X_train_save.to_csv('X_train_model.csv', sep=',', index = False)
X_test_save.to_csv('X_test_model.csv', sep=',', index = False)
X_real_test_save.to_csv('X_real_test_model.csv', sep=',', index = False)
y_train.to_csv('y_train_model.csv', sep=',', index = False)
y_test.to_csv('y_test_model.csv', sep=',', index = False)